.manage {
  &-percents {
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-percent-value {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: var(--icons-color);
  }

  &-percents-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-percent-btn {
    background: rgba(53, 105, 240, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    border-radius: 12px;
    padding: 8px;
    color: var(--header-link-color);
    font-weight: 700;
    margin-left: 12px;
    cursor: pointer;
  }

  &-subtitle {
    margin: 16px 0 0;
    color: var(--popup-title-color);
  }

  &-token-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 36px 0;
  }

  &-token-balance {
    border: 1px solid var(--popup-title-color);
    border-radius: 24px;
    padding: 16px;
    font-size: 40px;
    font-weight: 700;
    color: var(--mainblock-title-color);
  }

  &-token-symbol {
    font-size: 26px;
    font-weight: 700;
    color: var(--mainblock-title-color);
    display: flex;
    align-items: center;

    img {
      width: 33px;
      height: 33px;
      margin-right: 12px;
    }
  }

  &-text {
    color: var(--icons-color);
    margin: 16px 0 0;
  }

  .rangeslider-horizontal {
    position: relative;
    height: 12px;
    border-radius: 24px;
    background: var(--range-slider-bg-color);

    &::before {
      content: "";
      display: inline-block;
      width: calc(100% - 2px);
      height: 10px;
      position: absolute;
      top: 1px;
      left: 1px;
      border-radius: 24px;
      background: var(--range-slider-bg-inner-color);
    }

    .rangeslider__fill {
      width: calc(100% - 2px);
      height: 10px;
      position: absolute;
      top: 1px;
      left: 1px;
      border-radius: 24px;
      background: var(--range-slider-fill-color);
      position: relative;
      z-index: 3;
    }

    .rangeslider__handle {
      display: inline-block;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: var(--accent);
      box-shadow: 4px 4px 14px rgba(53, 105, 240, 0.4);
      position: absolute;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      cursor: pointer;
      z-index: 5;
    }
  }
}

@media screen and (max-width: 415px) {
  .manage {
    &-percents {
      flex-wrap: wrap;
    }

    &-percents-btns {
      width: 100%;
      margin-top: 10px;
    }

    &-percent-btn {
      &:first-of-type {
        margin-left: 0;
      }
    }

    &-token-balance {
      border-radius: 12px;
      padding: 5px 15px;
      font-size: 30px;
    }
  }
}
