.confirm-subtitle {
  font-weight: 700;
  font-size: 30px;
}

.swap-confirm-block {
  justify-content: space-between;
}

.swap-confirm-wrap {
  margin-top: 20px;
  //margin-bottom: 40px;
}
.confirm-amounts-wrapper{
  display: flex;
  flex-direction: column;
  height: 70px;
  justify-content: space-between;
}
